* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  position: absolute;
  background: #112b3e;
  height: 75px;
  width: 1442px;
  left: -2px;
  top: 0px;
  border-radius: 0px;
}

.navbarBrand {
  position: absolute;
  width: 319px;
  height: 30px;
  left: 25px;
  top: 15px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 47px;
}

.card-container {
  display: flex;
  margin-top: 40px;
  margin-left: 170px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: row wrap;
}
.card {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 330px;
  height: 340px;
  margin-right: 35px;
  margin-bottom: 65px;
  border: none;
  border-radius: 0px;
  padding: 0px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.15);
}

.card-img-top {
  display: flex;
  width: 330px;
  height: 220px;
  left: 54px;
  top: 123px;
  border-radius: 0px;
  margin: 0;
}

.card-body {
  display: flex;
  width: 330px;
  height: 130px;
  left: 54px;
  top: 422px;
  background: #112b3e;
}

.card-text {
  text-overflow: wrap;
  width: 300px;
  height: 100px;
  left: 54px;
  top: 432px;
  display: flex;
  flex-direction: column;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

a:link {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.detail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h3 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  width: 1000px;
  line-height: 47px;
  text-align: start;
  color: #ffffff;
}

img {
  width: 1000px;
  height: 500px;
  align-items: center;
  margin-bottom: 30px;
}

p {
  width: 1000px;
  font-family: "Roboto Slab";
  align-items: center;
}

.comment-box {
  width: 1000px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 90px;
}

.comment-text {
  padding: 30px;
  width: 950px;
  display: flex;
  flex-direction: column;
}
